<div class="borderOut">
  <div class="restFrame">
    <div class="borderIn">
      <div class="wood">
        <div class="cloth">
          <div class="player left">
            <app-poker-player [player]="player1" [imgurl]="player1link" [side]="'left'" [playerState]="player1Playerstate"></app-poker-player>
          </div>
          <div class="community">
            <app-card-group [cards]="community" [overlap]="true"></app-card-group>
          </div>
          <div class="player right">
            <app-poker-player [player]="player2" [imgurl]="player2link" [side]="'right'" [playerState]="player2Playerstate"></app-poker-player>
          </div>
          <label class="pot">{{pot}}</label>
          <!--<app-stacker [valor]="pot"></app-stacker>-->
        </div>
      </div>
    </div>
  </div>
</div>