<div class="borderOut">
    <div class="restFrame" >      
      
      <div class="borderIn">
        <div class="wood">
          <div class="cloth">              
            <div class="dottedLine">
              <div class="player left">
                <app-poker-player [player]="player1" [imgurl]="player1link"></app-poker-player>
              </div>
              <div class="player right">
                <app-poker-player [player]="player2"  [imgurl]="player2link"></app-poker-player>
              </div>
            <div class="community">
              <app-card-group [cards]="community" [overlap]="true"></app-card-group>
            </div>              
              <div class="bigLine">
                <div class="waterMark">
                  NC Poker
                </div>              
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>